* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    -webkit-font-smothing: antialiased;
    font-family: "Poppins", sans-serif;
}

html {
    font-size: 62.5%;
    background-color: #fffced;
    overflow-x: hidden;
}

img {
    width: 100%;
    display: block;
}

a {
    display: block;
    text-decoration: none;
}

button {
    all: unset;
    cursor: pointer;
}

ul {
    list-style: none;
}
